@font-face {
  font-family: 'Times New Roman';
  src: local('Times New Roman.woff2'), url('../public/fonts/Times New Roman.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@keyframes showup {
  0% {
    margin-top: 32px;
  }
  100% {
    margin-top: 0px;
  }
}
@keyframes showupBg {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
    background: #d3ba3e;
  }
  50% {
    transform: rotate(180deg);
    background: #d3ba3e;
  }
  50.1% {
    transform: rotate(0deg);
    background: #000;
  }
  100% {
    transform: rotate(0deg);
    background: #000;
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  50.1% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes fuwafuwa {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -12px;
  }
  100% {
    margin-top: 0;
  }
}
